{% load i18n %}
{% autoescape off %}
{% blocktrans %}Ви отримали цей лист, тому що хтось запросив скидання пароля для вашого акаунту на {{ site_name }}.{% endblocktrans %}

{% trans "Будь ласка, перейдіть за посиланням щоб вибрати новий пароль:" %}
{% block reset_link %}
http://localhost:8000{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Ваше ім'я користувача, якщо ви забули:" %} {{ user.get_username }}

{% trans "Дякуємо за використання нашого сайту!" %}

{% blocktrans %}Команда {{ site_name }}{% endblocktrans %}
{% endautoescape %}