{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="auth-page">  <!-- Додано обгортку auth-page -->
    <div class="auth-container">
        <div class="auth-form">
            <h2>Лист відправлено</h2>
            <div class="auth-message">  <!-- Додано новий клас для тексту -->
                <p>Ми відправили вам інструкції для встановлення нового пароля на вказану електронну адресу.</p>
                <p>Якщо ви не отримали листа, перевірте чи правильно вказали адресу та папку "Спам".</p>
            </div>
            <div class="auth-links">
                <a href="{% url 'accounts:login' %}">Повернутись до входу</a>
            </div>
        </div>
    </div>
</div>  <!-- Закриваємо обгортку auth-page -->
{% endblock %}