{% extends "base.html" %}

{% block content %}
<div class="verification-done">
    <h2>Лист з підтвердженням відправлено</h2>
    <p>Будь ласка, перевірте вашу електронну пошту.</p>
</div>

<script>
// Перевіряємо статус верифікації кожні 5 секунд
const checkVerificationStatus = setInterval(() => {
    fetch("{% url 'accounts:check_verification_status' %}", {
        method: 'GET',
        credentials: 'same-origin',
        headers: {
            'X-Requested-With': 'XMLHttpRequest',
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.verified) {
            clearInterval(checkVerificationStatus);
            window.location.reload(); // Оновлюємо сторінку
        }
    });
}, 5000);
</script>
{% endblock %}